:root {
  --top-color: #212121;
  --main-font: "Roboto", sans-serif;
  --hover-color: #2196f3;
  --white-color: #fff;
  --text-color:#757575;
  --logo-studio: #080909;
  --background-hat-footer: #2f303a;
  --hat-btn-focus: #188CE8;
  --team-background: #F5F4FA;
}

body {
  font-family: var(--main-font);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Header */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.header-logo-studio {
  color: var(--logo-studio);
}

.header-link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--top-color);
}

.header-link-nav:hover,
.header-link-nav:focus {
  color: var(--hover-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--hover-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--hover-color);
}

/* Hat */

.hat {
  background-color: var(--background-hat)
}

.hat-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hat-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--hover-color) ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hat-btn:hover,
.hat-btn:focus{
  background-color: var(--hat-btn-focus)
}

/* Special */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.special-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--top-color);
}

.special-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* About */

.about-title {
  color: var(--top-color);
}

/* Team */

.team{
  background-color: var(--team-background)
}

.team-title {
  color: var(--top-color);
}

.team-item {
  background-color: var(--white-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Footer */

.footer {
  background-color: var(--background-hat-footer)
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.footer-logo-studio {
  color: var(--white-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--hover-color);
}

.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-map:hover,
.footer-map:focus {
  color: var(--hover-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  /* color: rgba(255, 255, 255, 0.6); */
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--hover-color);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--hover-color);
}

/* ------------------------------------Portfolio page---------------------------------- */

/* Portfolio */

.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
  cursor: pointer;
  background-color: #F5F4FA;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--top-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
